<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>auth-callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Stride</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Stride needs access to your location to track your runs and calculate distance.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Stride needs access to your location to track your runs in the background and provide accurate running data.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
